{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home - John Shuford{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="container mx-auto px-4 pt-75 rounded-md flex items-center">
        <div class="w-1/3 pl-16">
            <img src="{% static 'core/images/headshot.png' %}" alt="John Shuford" class="profile-img" >
        </div>
        <div class="w-2/3 flex flex-col pr-18">
            <h1 class="text-4xl md:text-9xl font-bold mb-4 text-amber-100 font-serif">John Shuford</h1>
            <p class="text-xl md:text-2xl leading-relaxed text-amber-100">
                My name is John Shuford — thank you for being here! I'm an analytics engineer exploring front-end and full-stack development.</p>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-white rounded-lg shadow-md p-6 text-center border-2 border-gray-300" 
    style="transition: background-color 0.3s;" 
    onmouseover="this.style.animation='wiggle 1s ease-in-out infinite'" 
    onmouseout="this.style.animation='none'">
        <h5 class="text-xl font-semibold text-green-700 mb-4">Analytics Engineering</h5>
        <p class="text-gray-700">Experienced in building data pipelines, ETL processes, and business intelligence solutions.</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6 text-center border-2 border-gray-300" 
    style="transition: background-color 0.3s;" 
    onmouseover="this.style.animation='wiggle 1s ease-in-out infinite'" 
    onmouseout="this.style.animation='none'">
        <h5 class="text-xl font-semibold text-green-700 mb-4">Full-Stack Development</h5>
        <p class="text-gray-700">Currently exploring modern web development technologies and frameworks.</p>
    </div>
    <div class="bg-white rounded-lg shadow-md p-6 text-center border-2 border-gray-300" 
    style="transition: background-color 0.3s;" 
    onmouseover="this.style.animation='wiggle .75s ease-in-out infinite'" 
    onmouseout="this.style.animation='none'">
        <h5 class="text-xl font-semibold text-green-700 mb-4">Continuous Learning</h5>
        <p class="text-gray-700">Always eager to learn new technologies and improve existing skills.</p>
    </div>
</div>
{% endblock %}